<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(function() {
        var cometd = new Faye.Client('http://quizville-cometd.herokuapp.com/cometd', {timeout: 120});
        var subscription = cometd.subscribe("/q/<%= @quiz['Id'] %>", function(message) {
          console.log(message);
          $('#answers').append(message);
        });
        subscription.callback(function() {
          alert('Subscription is now active!');
        });
        subscription.errback(function(error) {
          alert(error.message);
        });
      });
    </script>
    <script src="http://quizville-cometd.herokuapp.com/cometd.js" type="text/javascript"></script> 
  </head>
  <body>
    <div>User: <%= @quiz['Member__r']['Name'] %></div>
    <div># Correct: <%= @quiz['Number_Correct__c'] %></div>
    <div>Total Time: <%= @quiz['Total_Time__c'] %></div>
    <div>Date: <%= @quiz['Quiz_Date__c'] %></div>
    <div id="channel">Subscribe: <%= @quiz['Id'] %></div>
    <div id="answers">
      <h2>Answers</h2>
    </div>
  </body>
</html>
